{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<section>

    <img src="{% static 'picture.jpg' %}" id="mypicture" />
    <p>My name is: Tinker Bell</p>
    <p>I live in: the Neverland</p>
    <p>I am 13 years old</p>
    <p>My favourite quote: <span class="quote">"All the world is made of faith, and trust, and pixie dust."</span> by Peter Pan</p>
    <p><a href="http://facebook.com/me">Find me on Facebook</a></p>

    <div style="clear: both;"></div>

</section>

<hr />

<section>

    <ul>
        <li><a href="{% url 'post_list' %}">Read my blog</a></li>
        <li><a href="{% url 'task_list_todo' %}">See my to do list</a></li>
        <li><a href="{% url 'food_top5' %}">My favourite food</a></li>
    </ul>

</section>

<iframe width="560" height="315" src="http://www.youtube.com/embed/NLEUL8F0JVE" frameborder="0" allowfullscreen></iframe>
{% endblock %}
